@page "/gestorarchivo"
@using Syncfusion.Blazor.PdfViewer
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Spinner
@inject HttpClient Http

<h3>GestorArchivo</h3>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <SfFileManager TValue="FileManagerDirectoryContent">
                <FileManagerAjaxSettings Url="/api/AzureProvider/AzureFileOperations"
                                         UploadUrl="/api/AzureProvider/AzureUpload"
                                         DownloadUrl="/api/AzureProvider/AzureDownload">
                </FileManagerAjaxSettings>
                <FileManagerToolbarSettings Items="@Items"></FileManagerToolbarSettings>
                <FileManagerEvents  ToolbarItemClicked="OnToolbarItemClick" TValue="FileManagerDirectoryContent"></FileManagerEvents>
            </SfFileManager>
        </div>
    </div>
</div>

<SfDialog Visible="@IsVisible" Width="80%" Height="80%" ShowCloseIcon="true">
    <DialogPositionData X="center" Y="top"></DialogPositionData>
    <DialogTemplates>
        <Header>
            Visor PDF
        </Header>
        <Content>
            <SfPdfViewer @ref="pdfViewer" Height="100%"></SfPdfViewer>
        </Content>
    </DialogTemplates>
</SfDialog> 

<SfSpinner @ref="spinner" Target="#loading"></SfSpinner>