@page "/gestorarchivo"
<h3>GestorArchivo</h3>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <SfFileManager TValue="FileManagerDirectoryContent">
                <FileManagerAjaxSettings Url="http://localhost:{port}/api/Data/FileOperations">
                </FileManagerAjaxSettings>
            </SfFileManager>
        </div>
    </div>

</div>

