@page "/gestorarchivo"
@using Syncfusion.Blazor.PdfViewer
@using Syncfusion.Blazor.Popups
<h3>GestorArchivo</h3>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <SfFileManager TValue="FileManagerDirectoryContent">
                <FileManagerAjaxSettings Url="/api/AzureProvider/AzureFileOperations"
                                         UploadUrl="/api/AzureProvider/AzureUpload">
                </FileManagerAjaxSettings>
            </SfFileManager>
        </div>
    </div>
</div>

<SfDialog Visible="false" Width="80%" Height="80%" ShowCloseIcon="true">
    <DialogPositionData X="center" Y="top"></DialogPositionData>
    <DialogTemplates>
        <Header>
            Visor PDF
        </Header>
        <Content>

        </Content>
    </DialogTemplates>
</SfDialog> 

