@page "/gestorarchivo"
<h3>GestorArchivo</h3>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <SfFileManager TValue="FileManagerDirectoryContent">

            </SfFileManager>
        </div>
    </div>

</div>

