@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
<div class="row">
    <SfButton CssClass="e-primary e-outline" @onclick="OnClick" IconCss="e-icons e-preview">
        @Texto
    </SfButton>
</div>

<style>
    .e-preview:before {
        content: '\e787'
    }
</style>